.home-themes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:auto;
  min-width: 375px;
  max-width: 650px;
  padding-top: 70px;
  padding-bottom: 70px;
}
